.youtube-progress {
  height: 60px;
  position: absolute;
  float: left;
  left: 80px;
  width: calc(100% - 140px);
  z-index: 4;
}

.progress-container {
  height: 100%;
  float: left;
  width: 100%;
}

.progress-progress {
  height: 100%;
  float: left;
  background: #aaa;
}