.client-auth {
  padding: 20px;
}
  .client-auth h4 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bolder;
  }

  .client-auth a.button {
    font-weight: bold;
    background-color: white;
    color: rgb(59,120,162);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    /*
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    */
  }